*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    cursor: cell;
    background: linear-gradient(skyblue, lightgray);
}

/* HERO-SECTION */

.hero-section{
    display: grid;
    grid-template-columns: 1;
}

img{
    width: 300px;
    height: 300px;
    margin-left: 38%;
    margin-top: 6%;
    margin-bottom: 5%;
    border-radius: 150px;
}

.hero-text h2{
    font-size: 49px;
    font-weight: 400;
    font-family: "Handjet";
    padding-bottom: 20px;
}

.hero-text{
    display: inline-block;
}

span{
    color: blue;
    text-decoration: underline;
}

.text{
    font-size: 18px;
    font-family: monospace;
    /* border-right: 5px solid; */
    width: 40%;
    margin-left: 30%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s steps(14),
    cursor.4s step-end infinite alternate;
}

.hero-text p{
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    width: 60%;
    padding: 20px;
    margin-left: 20%;
}

.btn{
    margin-top: 2%;
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-weight: bolder;
    color: #fff;
    background: #000;
    border: none;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    cursor: cell;
    margin-bottom: 1%;
}

@keyframes cursor {
    50%{
        border-color: transparent;
    }
}

@keyframes typing{
    from {
        width: 0;
    }
}


/* CARD */

.card-container {
    display: flex;
}

.card{
    width: 50%;
    background-color: transparent;
    margin: 10px;
    height: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: all 0.4s;
    cursor: cell;
}

.card h2{
    padding-bottom: 20%;
    font-size: 37px;
    color: lawngreen;
}

.card p{
    padding: 20px;
    font-size: 20px;
    line-height: 2;
    color: #555;
    border-bottom-style: 1px solid;
}

.card:hover{
    box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.2);
}

.btc{
    padding: 3% 20%;
    text-align: center;
    font-size: 18px;
    color: #fff;
    border: none;
    background-color: cadetblue;
    transition: background-color 0.3s;
    cursor: pointer;
}

.btc:hover{
    background-color: #4CAF50;
}

/* TABLE */

table{
    border-collapse: collapse;
    margin-left: 10%;
    border: 2px solid;
}

th{
    height: 50px;
    font-size: 24px;
    border: 2px solid;
    padding: 50px 80px;
}

td{
    width: 37%;
    height: 50px;
    font-size: 19px;
    padding: 20px;
    border: 2px solid;
}

section{
    padding-top: 10%;
    background: linear-gradient(skyblue,  rgba(255,255,255,0.2));
    background-attachment: fixed;
    padding-bottom: 3%;
}

#skill{
    width: 35%;
    padding-top: 3%;
    font-size: 40px;
    font-weight: 200;
    margin-top: 2%;
    color: red;
    margin-left: 30%;
    padding-bottom: 70px;
    margin-bottom: 2%;
}

.back{
    background: linear-gradient(lightgreen, lightblue);
    padding: 3%;
}

/* FOOTER */

.footer-list{
    display: flex;
    justify-content: space-around;
    background: linear-gradient(lightblue, lightgreen);
    padding-bottom: 5%;
    padding-top: 4%;
}

.footer-list h2{
    padding-top: 2%;
}


.footer-list ul{
    list-style-type: none;
    padding: 0;
    float: right;
    display: flex;
}

.footer-list li{
    list-style-type: none;
    padding: 20px;
}

.footer-list a{
    text-decoration: none;
    color: darkgoldenrod;
    font-size: 20px;
}

/* NAV */

nav{
    display: flex;
    justify-content: space-around;
    background: linear-gradient(skyblue, lightgray);
    width: 70%;
    margin-left: 15%;
    margin-top: 2%;
    border-radius: 50px;
    position: sticky;
    top: 0;
}

nav h2{
    padding: 15px;
    font-size: 34px;
    font-weight: 100;
}

nav ul{
    float: right;
    list-style: none;
    display: flex;
}

nav li{
    padding: 20px;
}

nav a{
    font-size: 20px;
    color: #000;
    text-decoration: none;
    transition: all 0.5s ease;
}

 nav a:hover{
    color: darkgoldenrod;
 }



 /* RESPONSIVE */


 @media  (max-width: 414px) {

    body{
        background: linear-gradient(skyblue,  rgba(255,255,255,0.2));
    }

    nav{
        background: transparent;
        margin-left: 0;
    }

    nav a{
        font-size: 17px;
    }

    .hero-text p{
        margin-left: 13%;
        width: 90%;
    }

    section{
        background: transparent;
    }

    table{
        margin-left: 10px;
    }

    td{
        width: 10%;
        padding: 10px;
    }

    th{
    padding: 10px 20px;
    }

    .card-container{
        display: grid;
    }

    .card{
        width: 100%;
        margin-left: 5%;
        font-size: 23px;
    }

    img{
        margin-left: 25%;
    }

    .text{
        margin-left: 25%;
        width: 70%;
    }

    .btn{
        margin-left: 20%;
    }

    .back{
        background: transparent;
    }

    #skill{
        margin-left: 40%;
    }
    
    .footer-list{
        background: transparent;
        padding: 30px;
    }

    .footer-list h2{
        margin-right: 10px;
    }
}

@media  (max-width: 430px) {

    body{
        background: linear-gradient(skyblue,  rgba(255,255,255,0.2));
    }

    nav{
        background: transparent;
        margin-left: 0;
    }

    nav a{
        font-size: 17px;
    }

    .hero-text p{
        margin-left: 13%;
        width: 90%;
    }

    section{
        background: transparent;
    }

    table{
        margin-left: 10px;
    }

    td{
        width: 10%;
        padding: 10px;
    }

    th{
    padding: 10px 20px;
    }

    .card-container{
        display: grid;
    }

    .card{
        width: 100%;
        margin-left: 5%;
        font-size: 23px;
    }

    img{
        margin-left: 25%;
    }

    .text{
        margin-left: 25%;
        width: 70%;
    }

    .btn{
        margin-left: 20%;
    }

    .back{
        background: transparent;
    }

    #skill{
        margin-left: 40%;
    }
    
    .footer-list{
        background: transparent;
        padding: 30px;
    }

    .footer-list h2{
        margin-right: 10px;
    }
}


 @media  (max-width: 414px) {

    body{
        background: linear-gradient(skyblue,  rgba(255,255,255,0.2));
    }

    nav{
        background: transparent;
        margin-left: 0;
    }

    nav a{
        font-size: 17px;
    }

    .hero-text p{
        margin-left: 13%;
        width: 90%;
    }

    section{
        background: transparent;
    }

    table{
        margin-left: 10px;
    }

    td{
        width: 10%;
        padding: 10px;
    }

    th{
    padding: 10px 20px;
    }

    .card-container{
        display: grid;
    }

    .card{
        width: 100%;
        margin-left: 5%;
        font-size: 23px;
    }

    img{
        margin-left: 25%;
    }

    .text{
        margin-left: 25%;
        width: 70%;
    }

    .btn{
        margin-left: 20%;
    }

    .back{
        background: transparent;
    }

    #skill{
        margin-left: 40%;
    }
    
    .footer-list{
        background: transparent;
        padding: 30px;
    }

    .footer-list h2{
        margin-right: 10px;
    }
}


@media (max-width: 1024px) {
    
}